/* inter-400 - regular */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Inter-Regular-400.woff2") format("woff2");
}

/* inter-500 - semibold */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Inter-SemiBold-500.woff2") format("woff2");
}

/* manrope-400 - regular */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Manrope-Regular-400.woff2") format("woff2");
}

/* manrope-500 - semibold */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Manrope-SemiBold-500.woff2") format("woff2");
}

/* manrope-700 - bold */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Manrope-Bold-700.woff2") format("woff2");
}
